@{ ViewBag.Title = "Home"; }

<div class="jumbotron">
    <h1 class="display-4">Welcome to Pizza App</h1>
    <p class="lead">Pizza for the masses</p>
    <hr class="my-4">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/img//pizza/Kapri.png" class="d-block w-100" alt="pizzaImg">
            </div>
            <div class="carousel-item">
                <img src="~/img/pizza/Margarita.png" class="d-block w-100" alt="pizzaImg">
            </div>
            <div class="carousel-item">
                <img src="~/img/pizza/Napolitana.png" class="d-block w-100" alt="pizzaImg">
            </div>

            <div class="carousel-item">
                <img src="~/img/pizza/Peperoni.png" class="d-block w-100" alt="pizzaImg">
            </div>

        </div>
    </div>
</div>
<a asp-controller="Order" asp-action="Order" class="btn btn-lg btn-block btn-outline-primary">Order Pizza</a>





















