<h1>Thank you for the order :)</h1>

<a asp-controller="Home"asp-action="Index" class="btn btn-outline-success btn-lg btn-block">Back to Home page</a>
<a asp-controller="Order" asp-action="Orders" class="btn btn-outline-success btn-lg btn-block">See your order</a>