
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous">


<style>

  .title{
      color:white;
  }
</style>

<div class="container-fluid">

    <div class="row ">
       <div class="col title">
           <h1 class="bg-danger text-center">SECOND PAGE TITLE</h1>
       </div>
    </div>

    <div class="row  ">
        <div class="col-md-6 ">
            <h6 class="bg-info p-2 text-center">The World's Highest Bridge Will Open in China This Year</h6>
            <img src=" https://imagesvc.meredithcorp.io/v3/mm/image?q=85&c=sc&poi=face&w=1600&h=1067&url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F28%2F2016%2F09%2Fworlds-highest-BRIDGE0916.jpg "
                 class="img-fluid img-thumbnail   h-auto " />
        </div>

        <div class="col-md-6  gg_bridge ">

            <h6 class="bg-info p-2 text-center">10 Most Famous Bridges In The World</h6>

            <img src="https://10mosttoday.com/wp-content/uploads/2013/09/GoldenGateBridge.jpg"
                 class="img-fluid  img-thumbnail  h-auto" />
        </div>


    </div>

</div>
